/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* MY STYLE IS IDENTICAL TO NONE =============================== */
/* THANK YOU PAUL IRISH! */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background-color: #ffd955;
}
body {
  font-family: "ff-meta-serif-web-pro", serif;
  line-height: 1.5;
  padding: 1em;
}
a {
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
strong {
  font-weight: bold;
}
section,
header {
  padding: 1.5em;
  width: 96%;
  max-width: 40em;
  margin: 0 auto 1.5em;
  border: solid #ffffff;
  border-width: 1px 0 0 1px;
  -webkit-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../images/stuccobg.png");
}
img#branding {
  display: block;
  margin: 0 auto;
  width: 100%;
}
header h1 {
  padding: .5em 0 1.5em;
}
header img {
  max-width: 100%;
}
header nav {
  font-family: "adelle", serif;
  border-top: 1px dotted rgba(0, 0, 0, 0.6);
  padding: 1em 0 0;
}
header nav ul.mainnav li {
  display: inline;
  padding-left: .75em;
}
header nav ul.mainnav li:first-child {
  padding-left: 0;
}
header nav a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
header nav a:hover {
  color: #000000;
}
#next {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.4) rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.6);
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
  -webkit-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  text-shadow: none;
}
#next p {
  text-align: center;
  font-size: 1.875em;
  color: rgba(255, 255, 255, 0.4);
}
#next time {
  font-family: "adelle", serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.5;
  display: block;
}
section {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
section h1 {
  font-size: 1.625em;
  font-family: "adelle", serif;
  font-weight: bold;
  padding-bottom: .5em;
}
section p,
section label {
  padding-bottom: 1em;
  color: rgba(0, 0, 0, 0.85);
}
section p:last-child,
section label:last-child {
  padding-bottom: 0;
}
section a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #9e3037;
}
section a:hover,
section a:active {
  color: #631e23;
}
.note-required {
  color: #cc0000;
}
#attendence li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: .25em;
}
#attendence li img {
  -webkit-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
#attendence li a {
  border: 0;
}
footer {
  margin: 0 auto;
  width: 96%;
  max-width: 40em;
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
footer p {
  color: #ffffff;
  font-size: 0.8125em;
}
footer a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.6);
}
footer a:hover {
  color: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
footer .yellowswitch a {
  color: #ffce22;
  float: right;
  right: 0;
}
footer .yellowswitch a.switched {
  color: #000;
}
/* Forms */
textarea,
select,
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaa;
  padding: .3125em;
  width: 100%;
  color: #000;
  font-size: 1em;
  font-family: "ff-meta-serif-web-pro", serif;
}
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  position: relative;
  -webkit-appearance: none;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-background-clip: padding;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  color: #000;
  font-size: 1em;
  font-family: "adelle", serif;
  line-height: 1.5;
  text-decoration: none;
  outline: 0;
  padding: .5em 1em .375em;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.66), 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.66), 0 0 0.75em rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.66), 0 0 0.75em rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  width: auto;
  border: 1px solid #f2ab05;
  border-bottom-color: #c08804;
  background-color: #ffce22;
  /* Konqueror */

  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffce22), to(#f2ab05));
  /* Safari4+, Chrome */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffce22), to(#f2ab05));
  /* Safari5.1+, Chrome10+ */

  background-image: -webkit-linear-gradient(#ffce22, #f2ab05);
  /* Firefox3.6 */

  background-image: -moz-linear-gradient(#ffce22, #f2ab05);
  /* IE10 */

  background-image: -ms-linear-gradient(#ffce22, #f2ab05);
  /* Opera11.10+ */

  background-image: -o-linear-gradient(#ffce22, #f2ab05);
  /* CSS3 Compliant */

  background-image: linear-gradient(#ffce22, #f2ab05);
  /* IE7-9 */

  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffce22', EndColorStr='#f2ab05');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */

  border-radius: 0 \0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  /* IE7 vertical alignment fix */

  *padding-top: 2px;
  *padding-bottom: 0;
  *overflow: visible;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  color: #222;
  text-decoration: none;
  background-color: #ffd43c;
  /* Konqueror */

  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd43c), to(#fab616));
  /* Safari4+, Chrome */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd43c), to(#fab616));
  /* Safari5.1+, Chrome10+ */

  background-image: -webkit-linear-gradient(#ffd43c, #fab616);
  /* Firefox3.6 */

  background-image: -moz-linear-gradient(#ffd43c, #fab616);
  /* IE10 */

  background-image: -ms-linear-gradient(#ffd43c, #fab616);
  /* Opera11.10+ */

  background-image: -o-linear-gradient(#ffd43c, #fab616);
  /* CSS3 Compliant */

  background-image: linear-gradient(#ffd43c, #fab616);
  /* IE7-9 */

  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffd43c', EndColorStr='#fab616');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */

  border-radius: 0 \0;
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  top: 1px;
  background-color: #f2ab05;
  /* Konqueror */

  background-image: -khtml-gradient(linear, left top, left bottom, from(#f2ab05), to(#ffce22));
  /* Safari4+, Chrome */

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2ab05), to(#ffce22));
  /* Safari5.1+, Chrome10+ */

  background-image: -webkit-linear-gradient(#f2ab05, #ffce22);
  /* Firefox3.6 */

  background-image: -moz-linear-gradient(#f2ab05, #ffce22);
  /* IE10 */

  background-image: -ms-linear-gradient(#f2ab05, #ffce22);
  /* Opera11.10+ */

  background-image: -o-linear-gradient(#f2ab05, #ffce22);
  /* CSS3 Compliant */

  background-image: linear-gradient(#f2ab05, #ffce22);
  /* IE7-9 */

  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f2ab05', EndColorStr='#ffce22');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */

  border-radius: 0 \0;
}
/* IE7 button fixes */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
input.mce_inline_error {
  border-color: #cc0000;
}
div.mce_inline_error {
  color: #cc0000;
}
#jointhelist .mc-field-group {
  line-height: 2.25;
  position: relative;
}
#jointhelist input[type="submit"] {
  margin-top: 1em;
}
/* Google Map */
.js #map_canvas {
  height: 20em;
  width: 100%;
  border: .25em solid #fff;
  margin-bottom: 1.5em;
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
  -webkit-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
}
#map-popup-content {
  min-width: 16em;
}
#map-popup-content h2 {
  font-family: "adelle", serif;
  padding: 0;
}
#map-popup-content p {
  font-size: 0.8125em;
  padding: 0;
}
#map-popup-content .venue-image {
  float: right;
  margin: .25em 0 0 .25em;
}
/* Tweetlist */
#tweetlist a {
  border: 0;
}
#tweetlist li {
  padding-bottom: 1.5em;
}
#tweetlist img {
  -webkit-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
  margin-right: 1em;
  border: 0;
  position: absolute;
}
#tweetlist span {
  color: #777;
}
#tweetlist .twitteruser {
  padding-left: 4em;
}
#tweetlist .tweet {
  padding-left: 4em;
  padding-top: .5em;
}
/* Start of rules for >600px breakpoint */
@media screen and (min-width: 601px) and (max-width: 1900px) {
  #jointhelist .mc-field-group {
    *zoom: 1;
  }
  #jointhelist .mc-field-group:before,
  #jointhelist .mc-field-group:after {
    content: "";
    display: table;
  }
  #jointhelist .mc-field-group:after {
    clear: both;
  }
  #jointhelist .mc-field-group input {
    float: right;
    max-width: 66%;
  }
}
/* End of rules for >600px breakpoint */
/* Start of rules for >1049px breakpoint */
@media screen and (min-width: 1050px) and (max-width: 1900px) {
  #next {
    position: fixed;
    left: 5%;
    top: 0;
    width: 15%;
    max-width: 9em;
    border-top: 0;
    -moz-border-radius: 0 0 0.3125em 0.3125em;
    border-radius: 0 0 0.3125em 0.3125em;
  }
}
/* End of rules for >1049px breakpoint */
