// Import Less partials
@import "variables.less";
@import "mixins.less";


/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; // 16px browser default
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
	&:before, &:after {
		content: "";
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* MY STYLE IS IDENTICAL TO NONE =============================== */

html {
	background-color: rgba(255,217,85,1);
}
	
body {
	font-family: @font-body;
	line-height: @baseline;
	padding: 1em;
}

a {
	.transition(color .25s ease-in-out);
}

strong {
    font-weight: bold;
}

section, header {
	.box-sizing;
	padding: 1.5em;
	width: 96%;
	max-width: 40em;
	margin: 0 auto 1.5em;
	border: solid rgba(255,255,255,1);
	border-width: 1px 0 0 1px;
	.box-shadow;
	.border-radius;
	background-color: rgba(255,255,255,.8);
	background-image: url("../images/stuccobg.png");
}

img#branding {
	display: block;
	margin: 0 auto;
	width: 100%;
}

header {
	h1 {
		padding: .5em 0 1.5em;
	}
	img {
		max-width: 100%;
	}
	nav {
		font-family: @font-heading;
		border-top: 1px dotted rgba(0,0,0,.6);
		padding: 1em 0 0;
		ul.mainnav li {
			display: inline;
			padding-left: .75em;
			&:first-child {
				padding-left: 0;
			}
		}
		a {
			color: rgba(0,0,0,.6);
			text-decoration: none;
			border-bottom: 1px solid rgba(0,0,0,.6);
			&:hover {
				color: darken(@colour-highlight,70%);
			}
		}
	}
}

#next {
	border: 1px solid;
	border-color: rgba(255,255,255,.25) rgba(0,0,0,.4) rgba(0,0,0,.4) rgba(255,255,255,.25);
	background-color: rgba(0,0,0,.6);
	.border-radius;
	.box-shadow;
	text-shadow: none;
	h1 {
		font-family: @font-body;
		text-align: center;
		font-size: 1.875em; // 30px / 16px
		color: rgba(255,255,255,.4);
		padding-bottom: 0;
	}
	time {
		font-family: @font-heading;
		font-weight: bold;
		color: rgba(255,255,255,.9);
		line-height: @baseline;
	}
}	

section {
	.text-shadow-light;
 	h1 {
		font-size: 1.625em; // 26px / 16px
		font-family: @font-heading;
		font-weight: bold;
		padding-bottom: .5em;
	}
	p, label {
		padding-bottom: 1em;
		color: rgba(0,0,0,.85);
		&:last-child {
			padding-bottom: 0;
		}
	}
	a {
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.5);
		color: @colour-link;
		&:hover, &:active {
			color: darken(@colour-link,15%);
		}
	}
}

.note-required {
    color: @colour-error;
}

#attendence {
	li {
		.inline-block;
		margin: .25em;
		img {
			.box-shadow;
			.border-radius;
		}
		a {
			border: 0;
			
		}
	}
}

footer {
	margin: 0 auto;
	width: 96%;
	max-width: 40em;
	padding: 1em 0;
	border-top: 1px solid rgba(0,0,0,.5);
	p {
		color: rgba(255,255,255,1);
		font-size: @smallfont;
	}
	a {
		color: rgba(255,255,255,1);
		text-decoration: none;
		border-bottom: 1px dotted rgba(0,0,0,.6);
		&:hover {
			color: rgba(0,0,0,1);
			border-bottom: 1px solid rgba(255,255,255,.8);
		}
	}
	.yellowswitch a {
		color: @colour-highlight;
		float: right;
		right: 0;
		&.switched {
			color: #000;
		}
	}
}

/* Forms */

textarea,
select,
input[type="password"],
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	.box-sizing;
	.border-radius(0);
	.background-clip;
	border: 1px solid #aaa;
	padding: .3125em;
	width: 100%;
	color: #000;
    font-size: 1em;
	font-family: @font-body;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	position: relative;
	-webkit-appearance: none;
	.border-radius(.5em);
	.background-clip;
	cursor: pointer;
	color: #000;
	font-size: 1em;
	font-family: @font-heading;
	line-height: @baseline;
	text-decoration: none;
	outline: 0;
	padding: .5em 1em .375em;
    .box-shadow-multiple;
	.text-shadow-light;
	width: auto;
	border: 1px solid @colour-gradient-to;
	border-bottom-color: darken(@colour-gradient-to, 10%);
	.gradient(@colour-gradient-from,@colour-gradient-to);
	.inline-block;
	/* IE7 vertical alignment fix */
	*padding-top: 2px;
	*padding-bottom: 0;
	*overflow: visible;
	&:hover, &:focus {
		color: #222;
		text-decoration: none;
		.gradient(lighten(@colour-gradient-from, 5%), lighten(@colour-gradient-to, 5%));
	}
	&:active {
		top: 1px;
		.gradient(@colour-gradient-to, @colour-gradient-from);
	}
}

/* IE7 button fixes */
button {
	*padding-top: 1px;
	*padding-bottom: 1px;
}

input.mce_inline_error {
	border-color: @colour-error;
}

div.mce_inline_error {
	color: @colour-error;
}

#jointhelist {
	.mc-field-group {
		line-height: 2.25;
		position: relative;
	}
	input[type="submit"] {
		margin-top: 1em;
		float: right;
	}
}

/* Google Map */

.js #map_canvas {
	.box-sizing;
	height: 20em;
	width: 100%;
	border: .25em solid #fff;
	margin-bottom: 1.5em;
	.border-radius;
	.box-shadow;
}

#map-popup-content {
	min-width: 16em;
	h2 {
		font-family: @font-heading;
		padding: 0;
    }
	p {
		font-size: @smallfont;
		padding: 0;
	}
	.venue-image {
		float: right;
		margin: .25em 0 0 .25em;
	}
}

/* Tweetlist */

#tweetlist {
	a {
		border: 0;
	}
	li {
		padding-bottom: 1.5em;
	}
	img {
		.box-shadow;
		.border-radius;
		margin-right: 1em;
		border: 0;
		position: absolute;
	}
	span {
		color: #777;
	}
	.twitteruser {
		padding-left: 4em;
	}
	.tweet {
		padding-left: 4em;
		padding-top: .5em;
	}
}




/* Start of rules for >600px breakpoint */
@media screen and (min-width: 601px) and (max-width: 1900px) {


#jointhelist {
	.mc-field-group {
		.clearfix;
		input {
			float: right;
			max-width: 66%;
		}
	}
}


}
/* End of rules for >600px breakpoint */




/* Start of rules for >1049px breakpoint */
@media screen and (min-width: 1050px) and (max-width: 1900px) {


#next {
	position: fixed;
	left: 5%;
	top: 0;
	width: 15%;
	max-width: 9em;
	border-top: 0;
	.border-radius(0 0 .3125em .3125em);
}


}
/* End of rules for >1049px breakpoint */
