// Fonts

@font-body:				"ff-meta-serif-web-pro", serif;
@font-heading:			"adelle", serif;


// Typography grid

@baseline:              1.625;   // 26px / 16px
@smallfont:             .8125em; // 13px / 16px


// Colours

@colour-link:			#9E3037;
@colour-highlight:		#ffce22;
@colour-gradient-from:	#ffce22;
@colour-gradient-to:	#f2ab05;
